<div id="banner">
  <%= image_tag @picture.image.gallery.url %>
  <div id="message">
    <p>It's not supposed to be like this at 3AM</p>
  </div>
  <div id="track">
    <p>JPL - We Move in Symmetry</p>
  </div>
  <div id="location">
    <p>Kaunisaari</p>
  </div>
</div>
