<section>
  <div id="gallery">
    <div class="banner">
      <h2>Crossing the Globe</h1>
      <h1>In Search of Sunrise</h1>
      <nav>
        <%= link_to 'Pictures', pictures_posts_path %>
        <%= link_to 'Music', music_posts_path %>
        <%= link_to 'Places', places_posts_path %>
      </nav>
    </div>

    <table>
      <tr>
      <% @posts.shuffle[0..5].each_with_index do |post, i| %>
        <td><%= image_tag post.picture.image.wall.url %></td>
        <% if (i + 1) % 3 == 0 %>
          </tr></tr>
        <% end %>
      <% end %>
    </table>
  </div>
</section>
