#gallery {
  width: 1095px;
  margin: 100px auto;
  position: relative;

  .banner {
    position: absolute;
    top: 238px;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    box-shadow: 0 1px 30px rgba(0,0,0,.9);
    height: 100px;
    text-align: center;
    font-family: Big Joe;
    color: white;
    font-weight: normal;
    text-shadow: 2px 2px 2px #000;

    a, a:visited {
      color: white;
      text-decoration: none;
    }

    h1 {
      font-size: 96px;
    }

    h2, nav {
      font-size: 32px;
      position: relative;
    }

    h2 {
      top: -45px;
    }

    nav {
      top: 25px;

      a {
        margin: 0 20px;
      }
    }
  }

  table {
    margin: 0 auto;

    td {
      border: solid 5px black;
      img { 
        width: 360px;
        height: 270px;
        display: block;
      }
    }
  }
}
