ol.list li {
  margin: 5px 0;
  font-family: 'Rock Salt';
  font-size: 28px;
  text-decoration: none;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px #000;
  height: 60px;

  &:hover, &:active, &:visited {
    color: white;
  }
}
